$main_font: 'Poppins';
$main_color: #000000;
$grey_color: #C0C0C0;
$white_color: #FFFFFF;

@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

.main_banner {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 71px;
  @include max-screen(767px) {
    height: 75vh;
  }
  .container_1 {
    max-width: 580px;
    h3 {
      font-family: $main_font;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      color: $grey_color;
    }
    h1 {
      font-family: $main_font;
      font-size: 54px;
      line-height: 59px;
      text-align: center;
      color: $white_color;
    }
    p {
      font-family: $main_font;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $grey_color;
      margin-top: 18px;
    }
  }
}
