@media screen and (max-width: 1024px) {

    header ul li {
        margin-left: 10px;
    }
    nav .menu-btn {
        display: flex;
    }
    nav {
        transform: translateX(100%);
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(20px);
        top: 0px;
    }
    nav .nav-links li {
        opacity: 0;
        transform: translateX(50%);
    }
    .logo {
        top: 55px;
    }

    nav .nav-links {
        display: block;
    }

}

@media screen and (min-width: 1300px) {
    nav .nav-links {
        right: 500px;
    }
}

@media screen and (min-width: 1025px) {
    nav {
        position: absolute;
    }
    nav .nav-links {
        position: absolute;
        top: 15px;
        right: 600px;
    }

    header ul li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    header ul li:first-child a {
        font-size: 13px;
        width: 150px;
    }

    header ul li:nth-child(2) a {
        width: 180px;
    }

    header ul li:nth-child(3) a {
        width: 112px;
    }

    header ul li:nth-child(2) {
        margin-left: 56px;
    }


    header ul li:nth-child(3) {
        margin-left: 32px;
    }

    header ul li:nth-child(4) {
        margin-left: 32px;
    }

    header ul li:last-of-type {
        margin-left: 31px;
    }

    nav .nav-links .hover-el {
        display: none;
    }

}




