@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    padding: 24px 0;
}

header div {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}


header ul {
    display: flex;
    list-style: none;
}

header nav li a {
    font-family: 'Poppins';
    padding-top: 11px;
    font-size: 13px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

header ul li {
    margin-left: 32px;
    transition: 0.7s;
}

header ul li {
    margin-left: 32px;
}

header ul li:nth-child(2) {
    margin-left: 56px;
}

header ul li:last-of-type {
    margin-left: 31px;
}


header ul li:last-of-type a {
    font-family: 'Poppins';
    padding: 9px 20px 13px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
}

.main_banner {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.container_1 {
    max-width: 580px;
}

.container_1 h3 {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #C0C0C0;
}

.container_1 h1 {
    font-family: 'Poppins';
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.container_1 p {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 18px;
}

.fixed_information {
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.fixed_information li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed_information li:before {
    content: "";
    background-image: url("../images/ico_1.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed_information li:nth-child(2):before {
    content: "";
    background-image: url("../images/ico_2.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed_information li:nth-child(3):before {
    content: "";
    background-image: url("../images/ico_3.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}

.fixed_information li:last-of-type:before {
    content: "";
    background-image: url("../images/ico_4.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}

.overview_banner_1 {
    background-image: url("../images/background_2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding-right: 64px;
}

.overview_container_1 {
    max-width: 298px;
}

.overview_container_1 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.overview_container_1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.overview_banner_2{
    background-image: url("../images/background_3.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding-right: 87px;
}

.overview_container_2 {
    max-width: 273px;
}

.overview_container_2 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.overview_container_2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.past_clients_banner {
    padding: 113px 0 140px 0;
    background-color: black;
}

.past_clients_banner h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.past_clients_banner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
}

.past_clients_container {
    display: flex;
    max-width: 1076px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
}

.overview_banner_3 {
    background-image: url("../images/background_4.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 119px;
}

.overview_container_3 {
    max-width: 241px;
}

.overview_container_3 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.overview_container_3 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.pre_footer {
    background-color: black;
    padding: 113px 0 108px 0;
    display: flex;
}

.pre_footer_container {
    max-width: 571px;
    margin: auto;
    text-align: center;

}

.pre_footer_container h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.pre_footer_container h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;

}


.pre_footer_container a {
    padding: 9px 10px 13px 0;
    background-color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.pre_footer_container a:before {
    content: "";
    background-color: black;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
}